@using BK.Models;
@model IEnumerable<SidebarModel>
<div class="widget shadow">
    <div class="my-profile clearfix">
        <div class="profile-bg">
            <img class="img-responsive" src="~/res/img/login-banner.png" width="100%" height="150" />
            <div class="profile-img">
                <img class="img-responsive" src="http://demo.themeum.com/wordpress/prolog/wp-content/themes/prolog/images/profile-thumb.png">
            </div>
        </div>

        <div class="profile-desc">
            <h2>Rebecca Lucas</h2>
            <span>Graphics Designer</span>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos</p>
        </div>
    </div>
</div>
<div class="widget shadow">
    <div id="clock" class="dark">
        <div class="display">
            <div class="weekdays"></div>
            <div class="ampm"></div>
            <div class="alarm"></div>
            <div class="digits"></div>
        </div>
    </div>
</div>

<div class="widget shadow">
    <div class="widget-title"><i class="fa fa-fire"></i><span>阅读排行</span></div>
    <ul class="fa-ul">
        @foreach (var item in Model)
            {
            <li>
                <a href="@Url.Action("Details","Posts",new {id=item.ID })">
                    <span class="text layui-elip">@item.title</span>
                    <span class="muted">
                        <i class="fa fa-clock-o"></i> @string.Format("{0:yyyy-MM-dd}", item.time)
                    </span>
                    <span class="muted">
                        <i class="fa fa-user"></i> @item.writer
                    </span>
                    <span class="muted">
                        <i class="fa fa-eye"></i> @item.read
                    </span>
                </a>
            </li>
        }

    </ul>
</div>
