@using BK.Models;
@model IEnumerable<SidebarModel>
<div class="widget shadow">
    <div id="clock" class="dark">
        <div class="display">
            <div class="weekdays"></div>
            <div class="ampm"></div>
            <div class="alarm"></div>
            <div class="digits"></div>
        </div>
    </div>
</div>
<div class="widget shadow">
    <div class="widget-title"><i class="fa fa-fire"></i><span>阅读排行</span></div>
    <ul class="fa-ul">
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("Details","Posts",new {id=item.ID })">
                    <span class="text layui-elip">@item.title</span>
                    <span class="muted">
                        <i class="fa fa-clock-o"></i> @string.Format("{0:yyyy-MM-dd}", item.time)
                    </span>
                    <span class="muted">
                        <i class="fa fa-user"></i> @item.writer
                    </span>
                    <span class="muted">
                        <i class="fa fa-eye"></i> @item.read
                    </span>
                </a>
            </li>
        }

    </ul>
</div>