@using BK.BLL;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PostsFuns pf = new PostsFuns();
}
<img src="~/res/img/timg.jpg" id="banner" width="100%" height="500" />
<section class="container">
    <div class="content-wrap">
        <div class="content">
            @foreach (var item in pf.ViewListALL())
            {
                <article class="excerpt excerpt-1">
                    <a class="focus" href="http://bkcoding.cn/archives/587">
                        <img src="@item.posts_img" alt="10年后编程还有意义吗？-BkCoding" class="thumb">
                    </a>
                    <header>
                        <a class="cat" href="http://bkcoding.cn/archives/category/programmer">@item.category.category_name <i></i></a>
                        <h2>
                            <a href="http://bkcoding.cn/archives/587" title="10年后编程还有意义吗？-BkCoding">@item.posts_tile</a>
                        </h2>
                    </header>
                    <p class="meta">
                        <time><i class="fa fa-clock-o"></i>@string.Format("{0:yyyy-MM-dd}", item.posts_createTime)</time>
                        <span class="author"><i class="fa fa-user"></i>@item.posts_writer</span>
                        <span class="pv"><i class="fa fa-eye"></i>阅读(@item.posts_readCount)</span>
                        <a class="pc" href="http://bkcoding.cn/archives/587#comments"><i class="fa fa-comments-o"></i>评论(@item.posts_commentCount)</a>
                    </p>
                    <p class="note">@item.posts_abstract</p>
                </article>
            }

           
        </div>
    </div>
    <aside class="sidebar">
        <div class="widget shadow">
            <div class="widget-title"><i class="fa fa-fire"></i><span>热文排行</span></div>
            <ul class="fa-ul">
                <li>
                    <a href="detail.html">
                        <span class="text layui-elip">Web安全之跨站请求伪造CSRF,ASP.NET MVC 防范跨站请求伪造（CSRF）</span>
                        <span class="muted">
                            <i class="fa fa-clock-o"></i> 2017-06-01
                        </span>
                        <span class="muted">
                            <i class="fa fa-user"></i> 作者
                        </span>
                        <span class="muted">
                            <i class="fa fa-eye"></i> 12
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

</section>

